.yellow{
    color: #ffe600;
}

.bgred{
    background-color: #dc3545;
}

/* Header */
.header{
    padding: 8px 0;
    background-color: #252525;
}

.header p{
    font-size: 15px;
    font-weight: 300;
    padding: 0 0 0 10px;
    margin: 0;
    color: white;
}

.header span{
    font-weight: 600;
    color: #e95463;
}

.header a{
    color: white;
    text-decoration: none;
}

.nav-item{
    text-transform: uppercase;
}
/* Akhir Header */

/* NAVBAR */
.navbar{
    padding: 10px 0;
    background-color: #252525;
}

.navbar-brand{
    font-family: 'Viga';
    font-size: 25px;
}

.dropdown-toggle, .dropdown-menu {
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
}

.dropdown-item:hover{
    color: white;
    background-color: #303030;
}
/* Akhir NAVBAR */

/* JUMBOTRON */


.jumbotron{
    background-color: rgb(228, 226, 226);
    font-family: 'Montserrat', sans-serif;
    height: 370px;
    margin: 0 0 30px 0;
    text-align: center;
    border-bottom: 10px solid #dc3545;
    border-top: 10px solid #dc3545;
}

.jumbotron h1{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0 0 0;
    font-size: 60px;
    font-weight: 900;
}
.jumbotron h5{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    font-weight: 800;
}

.jumbotron a {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
/* Akhir Jumbotron */

/* Diskon */
.diskon .shadow {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
}

.diskon .card{
    margin-bottom: 50px;
}

.diskon h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0 0 5px 5px;
    border-bottom: 4px solid #dc3545;
    margin-bottom: 25px;
}

.diskon .card h5{
    font-family: 'Questrial', sans-serif;
}

.diskon .card button{
    right: 1.25rem;
}
.diskon .potong{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #dc3545;
}
.diskon .price{
    text-decoration: line-through;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #dc3545;
}

/* Akhir Diskon */

/* Footer */
.footer{
    background-color: #353535;
}
.footer .foot2 p{
    padding-bottom: 3px;
    border-bottom: 1px solid #6c757d;
}
.footer .foot2 a{
    width: 100%;
    text-decoration: none;
    color: white;
    
}
.footer .foot2 a:hover{
    color: #dc3545;
    padding-left: 10px;
}
/* Akhir Footer */

/* DEKSTOP VERSION */
@media (min-width:992px) {
    .navbar .login{
        margin-left: 50px;
    }
    .dropdown-menu{
        margin-top: 12px;
    }
    .jumbotron{
        height: 330px;
    }
}